// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg;
}

@media only screen and (min-width: 768px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.2; }
  #main {
    @extend .group;
    padding: 0;
    margin: 0 auto;
  }
  #content {
    @extend .group;
    overflow: visible;
    margin-right: 0;
    position: relative;
    .no-sidebar & { margin-right: 0; border-right: 0; }
    .collapse-sidebar & { margin-right: 20px; }
    > div, > article {
      padding-top: $pad-medium/2;
      padding-bottom: $pad-medium/2;
      float: left;
    }
  }
  aside.sidebar {
    @extend .group;
    width: auto;
    padding: 0 $sidebar-pad-medium $sidebar-pad-medium;
    background: none;
    clear: left;
    float: none;
    margin: 0;
    section {
      width: auto; margin-left: 0;
      &.first, &.even { float: left; width: 50%; margin-left: 0; }
	  &.last {float: left; width: 100%; margin-left: 0;}
    }
    .collapse-sidebar & {
      @include collapse-sidebar;
    }
  }
}

@media only screen and (min-width: 992px) {
  body > header { font-size: $header-font-size * 1.3; }
  #content {
    @extend .group;
    overflow: visible;
    position: relative;
    margin-right: 0;
    .no-sidebar & { margin-right: 0; border-right: 0; }
    > div, > article {
      padding-top: $pad-wide/2;
      padding-bottom: $pad-wide/2;
    }
  }
  aside.sidebar {
    width: auto;
    clear: left;
    float: none;
    margin: 0;
    padding: 1em 0 1em 0;
    .collapse-sidebar & {
      padding: { left: $pad-wide; right: $pad-wide; }
      @extend .group;
    }
  }
}

body > header {
  background: $header-bg;
  border-bottom: 1px solid #000;
  padding: 50px 0 0;
  text-align: left;
  color: #000000;
  font-size: 130%;
  text-shadow: 1px 1px 1px #DDDDDD;
  h1 {
    display: inline-block;
    margin: 0;
    a:hover {
      color: $subtitle_color;
    }
    span {
      color: $subtitle_color;
      font-family: $header-subtitle-font-family;
      font-size: 40%;
      font-style: italic;
      font-weight: normal;
      margin-left: 10px;
    }
  }
}

body > nav {
  border {
      top: 0;
      bottom: 1px solid $nav-border-bottom; }
  form {
	.search {
	  width: 80%; }
  }
}

body {
  > div {
    background: $page-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $page-bg;
      border-right: 0;
    }
  }
}

body {
  line-height: 26px;
}

body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
  padding-left: 0px;
  padding-right: 0px;
}

#content .blog-index {
  article {
    padding-top: 1em;
    border-bottom: 1px solid #ccc;
  }
}

a {
  text-decoration: none;
}

a, a:hover, a:visited {
  font-weight: bold;
}

#content div.pagination {
  background: $page-bg;
}

aside.sidebar {
  border-top: 1px solid #000;
}

aside.sidebar {
  section {
    h1 {
		text-align: left;
        border-bottom: 0;
    }
  }
  li {
    border-bottom: 0;
  }
}